:host ::ng-deep {
    .modal-header {
        display: none;
    }
    .modal-backdrop {
        background: transparent;
    }
}

.dropdown {
    position: absolute;
    margin-top: 50px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    height: 500px;

    .search-input-container {
        display: flex;

        clr-icon {
            margin-top: 2px;
            margin-right: 4px;
        }

        .clr-input {
            flex-grow: 1;
        }
    }

    .search-result-container {
        margin-top: 8px;
        flex: 1;
        overflow: auto;

        .search-result-section {
            margin-top: 8px;
        }

        .search-result-section-title {
            font-weight: bold;
            margin-top: 0;
        }

        .partial-result {
            color: var(--clr-color-neutral-500);
        }

        .no-results {
            color: var(--clr-color-neutral-500);
            font-style: italic;
        }

        .search-result-item {
            padding-left: 8px;
            &:hover {
                background-color: var(--clr-tree-link-hover-color);
            }
        }
    }
}

.filters-dropdown {
    left: 93%;
    top: -5%;
}

.filters-autofill {
    top: 8%;
}

.selected {
    background-color: var(--clr-global-selection-color);
}

.sub-section {
    padding-left: 8px;
}

.filter-dropdown {
    margin-top: 0px;
    position: static;
}

.measurement-div {
    flex-shrink: 1;
    visibility: hidden;
}
